body {
  /*Adding flex to center the content of the webpage*/
  display: flex;
  flex-direction: column;
  /*Adding the background color*/
  background-color: azure;
  /*Change the font family for the entire page*/
  font-family: 'Merriweather', serif;
  /*Allign elements to center*/
  text-align: center;
  justify-content: center; 
  align-items: center;
  margin: 0; 
} 

h1 {
  /*Change the font for all h1*/
  font-family: 'Sacramento', cursive;
  /*Change the color of the text so it contrasts with the background*/
  color:darkblue; 
  /*Increase font size to 5.5 rem*/
  font-size: 5.5 rem;
  /*Add a margin of 50px*/
  margin: 50px;
}

h2 {
  /*Change the font to 'Montserrat', sans-serif*/
  font-family: 'Montserrat', sans-serif;
  /*Change font size to 2.5 rem*/
  font-size: 2.5 rem;
  /*Add 10 px padding to below*/
  padding-bottom: 10px;
  /*Change the text to another color that plays well with the background*/
  color:darkcyan;
}

h3 {
  /*Change the font to 'Montserrat', sans-serif*/
  font-family: 'Montserrat', sans-serif;
  /*Select a third text color that plays well with the background*/
  color: darkturquoise;
}

ul, ol {
  /*Centering the lists*/
  padding-left: 20px; /*Leaving space so the bullet points and numbers doesnt cut each other*/
  margin: 0;
  display: inline-block; /*The list will only occupy the width of its content*/
  text-align: left; /*It allings the text, numbers and bullet points to the left*/
  
}

li {
  margin: 4px 0;
}

.imagesThingsIlike {
  padding-left: 50px;
  padding-top: 10px;
  
}

/*Modify all logos to be of max size 100 x 100 px and make them round*/
.schoolLogo {
  border-radius: 50%; /*Decrease the corners to round shape*/
}

/*
Change the L&F of links

Eliminate the underlining
Make them bold.
On hover over, change its color to green
*/

a {
    text-decoration: none;
    text-decoration: all;
    text-decoration: inherit;
    font-weight: bold;
}

a:hover {
    color: #00ff00;
    transition: color 0.3s ease;
}