body {
  /*Adding flex to center the content of the webpage*/
  display: flex;
  flex-direction: column;
  /*Adding the background color*/
  background-color: azure;
  /*Change the font family for the entire page*/
  font-family: 'Merriweather', serif;
  /*Allign elements to center*/
  text-align: center;
  justify-content: center; 
  align-items: center;
  margin: 0;
} 

h1 {
  /*Change the font for all h1*/
  font-family: 'Sacramento', cursive;
  /*Change the color of the text so it contrasts with the background*/
  color: black; 
}

ul, ol {
  /*Centering the lists*/
  padding-left: 20px; /*Leaving space so the bullet points and numbers doesnt cut each other*/
  margin: 0;
  display: inline-block; /*The list will only occupy the width of its content*/
  text-align: left; /*It allings the text, numbers and bullet points to the left*/
  
}

li {
  margin: 4px 0;
}



#thingsIlike {
  
}