body {
  /*Adding flex to center the content of the webpage*/
  display: flex;
  flex-direction: column;
  /*Adding the background color*/
  background-color: azure;
  /*Change the font family for the entire page*/
  font-family: 'Merriweather', serif;
  /*Allign elements to center*/
  text-align: center;
  justify-content: center; 
  align-items: center;
  margin: 0; 
} 

h1 {
  /*Change the font for all h1*/
  font-family: 'Sacramento', cursive;
  /*Change the color of the text so it contrasts with the background*/
  color:darkblue; 
  /*Increase font size to 5.5 rem*/
  font-size: 5.5 rem;
  /*Add a margin of 50px*/
  margin: 50px;
}

h2 {
  /*Change the font to 'Montserrat', sans-serif*/
  font-family: 'Montserrat', sans-serif;
  /*Change font size to 2.5 rem*/
  font-size: 2.5 rem;
  /*Add 10 px padding to below*/
  padding-bottom: 10px;
  /*Change the text to another color that plays well with the background*/
  color:darkcyan;
}

h3 {
  /*Change the font to 'Montserrat', sans-serif*/
  font-family: 'Montserrat', sans-serif;
  /*Select a third text color that plays well with the background*/
  color: darkturquoise;
}

ul, ol {
  /*Centering the lists*/
  padding-left: 20px; /*Leaving space so the bullet points and numbers doesnt cut each other*/
  margin: 0;
  display: inline-block; /*The list will only occupy the width of its content*/
  text-align: left; /*It allings the text, numbers and bullet points to the left*/
  
}

li {
  margin: 4px 0;
}

#thingsIlike {
  /*The following are necessary for them to stay in the middle since this list has subsections*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}