body { 
    margin: 0;
}

#top {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border: 10px solid;
    padding: 20px;
}

#mid {
    background-color: lightcyan;
    width: 200px;
    height: 200px;
    border: 20px;
    /* Extra de mid */
    position: relative; /* Los siguinetes movimientos van a ser relativos */
    bottom: 16px;
    left: 260px;

}

#bot {
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 200px;
    border: 10px;
    /* Extra de bot */
    position: relative; /* Los siguinetes movimientos van a ser relativos */
    bottom: 32px;
    left: 460px;    
}